Source: tarantool-mqtt
Priority: optional
Section: database
Maintainer: Eugene Blikh <bigbes@tarantool.org>
Build-Depends: debhelper (>= 9), cdbs,
               cmake (>= 2.8),
               tarantool-dev (>= 1.6.8.0),
               libmosquitto-dev
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/memcached
Vcs-Git: git://github.com/tarantool/memcached.git
Vcs-Browser: https://github.com/tarantool/memcached

Package: tarantool-mqtt
Architecture: i386 amd64 armhf arm64
Depends: tarantool (>= 1.6.8.0), libmosquitto1, ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: MQTT bindings for Tarantool
 This package provides a MQTT bindings for Tarantool.
